#TestComponent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    border: 10px solid white;
    box-sizing: border-box;
    opacity: 0.8;
    z-index: 1000;
}